In [1]:
from datasets import load_dataset, concatenate_datasets

agg = load_dataset("billingsmoore/Aggregated-bo-en", split='train')

op_train = load_dataset("openpecha/cleaned_MT_v1.0.3", split='train')
op_test = load_dataset("openpecha/cleaned_MT_v1.0.3", split='test')
op = concatenate_datasets([op_train, op_test])

op = op.rename_column('Source', 'bo')
op = op.rename_column('Target', 'en')


dataset = concatenate_datasets([agg, op])

In [2]:
df = dataset.to_pandas()
df.head()

,bo,en,source_file,source,topic,File_Name,Machine Aligned,__index_level_0__
0,འཕགས་པ་གསེར་གྱི་བྱེ་མ་ལྟ་བུ་ཞེས་བྱ་བ་ཐེག་པ་ཆེན...,The Noble Mahāyāna Sūtra Like Gold Dust,toh126,84000,None,None,None,NaN
1,སངས་རྒྱས་དང་། བྱང་ཆུབ་སེམས་དཔའ་ཐམས་ཅད་ལ་ཕྱག་འཚ...,Homage to all buddhas and bodhisattvas.,toh126,84000,None,None,None,NaN
2,འདི་སྐད་བདག་གིས་ཐོས་པ་དུས་གཅིག་ན།,Thus did I hear at one time.,toh126,84000,None,None,None,NaN
3,བཅོམ་ལྡན་འདས་མཉན་དུ་ཡོད་པ་ན་རྒྱལ་བུ་རྒྱལ་བྱེད་...,The Blessed One was staying at Prince Jeta’s G...,toh126,84000,None,None,None,NaN
4,དེ་ནས་ཚེ་དང་ལྡན་པ་ཀུན་དགའ་བོ་སྟན་ལས་ལངས་ཏེ་བླ་...,"Venerable Ānanda rose from his seat, draped hi...",toh126,84000,None,None,None,NaN

In [3]:
len(df)

2323358

In [4]:
df = df.drop_duplicates(subset='en')
len(df)

2310731

In [5]:
df = df.drop_duplicates(subset='bo')
len(df)

1701342

In [6]:
from datasets import Dataset

ds = Dataset.from_pandas(df[['bo', 'en']])
ds[0]

{'bo': 'འཕགས་པ་གསེར་གྱི་བྱེ་མ་ལྟ་བུ་ཞེས་བྱ་བ་ཐེག་པ་ཆེན་པོའི་མདོ།',
 'en': 'The Noble Mahāyāna Sūtra Like Gold Dust',
 '__index_level_0__': 0}

In [7]:
ds = ds.remove_columns(['__index_level_0__'])
ds[0]

{'bo': 'འཕགས་པ་གསེར་གྱི་བྱེ་མ་ལྟ་བུ་ཞེས་བྱ་བ་ཐེག་པ་ཆེན་པོའི་མདོ།',
 'en': 'The Noble Mahāyāna Sūtra Like Gold Dust'}

In [8]:
ds = ds.train_test_split(.1)

In [9]:
ds.save_to_disk('combined-ds')

Saving the dataset (0/3 shards):   0%|          | 0/1531207 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/170135 [00:00<?, ? examples/s]